* {
    background: white;
    display: flex;
    justify-content: center;
    font-family: 'Arial';
    margin: 0;
    tab-size: 10;
}

header{
    background: black;
    color: grey;
    width: 100%;
    height: 3.6rem;
    font-size: 1rem;
    justify-content: center;
    align-items: flex-start;
}

nav{
    background: inherit;
    color: inherit;
    font-size: inherit;
    height: inherit;
    align-items: inherit;
}

a, .a{
    text-decoration: none;
    background: inherit;
    color: inherit;
    height: 1.5rem;
    padding: 1.05rem;
    /* Height and padding must equal header height
    for dropdown menu to not push main link around
    */
}

body{
    display:inline-flex;
    flex-direction: column;
    align-items:center;
}

footer {
    background: rgb(44, 44, 44);
    color: white;
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction:column
}

.menucontent {
    display: inline-block;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background: black;
    color: grey;
}

.dropdown {
    color: inherit;
    background: inherit;
    padding: 0.3rem;
    border-top: 0.1rem solid;
    border-color:rgb(33, 33, 33);
}

.collapsible{
    display: inline-flex;
    flex-direction:column;
    padding: 0;
    background: black;
    margin: 0;
    /*width: 10rem;*/
    width:20rem;
    min-height: 100%;
    z-index:10;
    /*z-index puts this element above z-index 1-9*/
}

.dropMenu{
    min-height: 1.5rem;
    background:black;
    color:grey;
    display:inline-flex;
    flex-direction: column;
    align-self:flex-start;
    user-select: none;
}

#dropButton{
    background:inherit;
    border: 0.1rem solid grey;
    padding: 0.4rem;
    margin: 0.7rem;
    align-content:center;
    align-self:center;
    max-width: 10rem;
    min-width:8rem;
}

img, .img {
    width: 50rem;
    align-content:center;
    align-self:center;
    flex-direction: column;
    z-index:0;
    display:inline-flex;
}

.alignV{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}

.text{
    padding-left:3rem;
}

#credit{
    background-color: black;
    color: grey;
    padding: 2rem;
}